<h1>Search board game in database</h1>

<form class="form p-5 rounded" action="/select/show" method="GET">
    <select class="form-select" name = "Tag" id="Tag" aria-label="Default select example">
      <option selected>choose board game by what order</option>
      <option value="popular">popular</option>
      <option value="hard">hard</option>
      <option value="easy">easy</option>
      <option value="rate">rate</option>
    </select>
    <br>
    <button type="submit" class="btn btn-primary mx-auto">Search</button>
</form>